---
// Assets
import Bars from "@/components/assets/Bars.astro";
// Widgets
import Chat from "@/components/helpcenter/Chat.astro";
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Link from "@/components/fundations/elements/Link.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Content
const data = [
  {
    icon: "QuestionMark",
    url: "/helpcenter/home",
    category: "Help Center",
    text: "Find all questions and answers about our services and features.",
    buttonText: "Visit Help Center",
  },
  {
    icon: "Settings",
    url: "/forms/contact",
    category: "Support",
    text: "Reach out to support, submit a ticket, or get help with your account.",
    buttonText: "Contact Support",
  },
  {
    icon: "Phone",
    actionType: "link",
    url: "phone:tel:+123456789",
    category: "Contact us",
    text: "Have a question or need assistance? Reach out to our dedicated support team.",
    buttonText: "Call us",
  },
  {
    icon: "User",
    actionType: "button",
    buttonId: "chat-toggle",
    category: "Live chat 24/7",
    text: "We're here 24/7—ask us anything, connect with a support agent instantly.",
    buttonText: "Talk to us now!",
  },
];
---

<BaseLayout>
  <section class="relative overflow-hidden">
    <Chat class="fixed bottom-5 right-5" />
    <Wrapper variant="standard" class="pb-2 pt-50">
      <Text
        tag="h1"
        variant="display5XL"
        class="font-bold tracking-tighter text-black text-balance"
        >Knowledge Base</Text
      >
      <Bars class="mt-2">We are to help you 24/7</Bars>
    </Wrapper>
  </section>
  <section class="relative overflow-hidden">
    <Chat class="fixed bottom-5 right-5" />
    <Wrapper variant="standard" class="py-2">
      <dl
        class="px-8 py-12 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-x-8 gap-y-24 bg-orange"
      >
        {
          data.map((section) => (
            <div class="flex flex-col justify-between h-full border-dashed lg:pl-8 lg:border-l lg:border-white/20">
              <div>
                <dt class="flex items-center gap-2">
                  <Text
                    tag="h3"
                    variant="displaySM"
                    class="font-medium tracking-tight text-white  text-balance"
                  >
                    {section.category}
                  </Text>
                </dt>
                <dd class="mt-2">
                  <Text
                    tag="p"
                    variant="textLG"
                    class="mt-4 font-medium text-white lg:mt-48"
                  >
                    {section.text}
                  </Text>
                </dd>
              </div>
              {section.actionType === "button" ? (
                <div class="mt-8 ">
                  <Button
                    id={section.buttonId}
                    size="xl"
                    variant="default"
                    class="w-full"
                  >
                    {section.buttonText}
                  </Button>
                </div>
              ) : (
                <div class="w-full mt-8 ">
                  <Link
                    size="xl"
                    variant="default"
                    href={section.url}
                    class="w-full"
                  >
                    {section.buttonText}
                  </Link>
                </div>
              )}
            </div>
          ))
        }
      </dl>
    </Wrapper>
  </section>
</BaseLayout>
